.button {
  width: 295px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.4rem;
  border-radius: 8px;
  border: none;
  color: var(--White);
  background-color: var(--Dark-cyan);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--Darker-cyan);
}
